[run]
plugins = Cython.Coverage
include = dpnp/*,examples/*,build_cython/dpnp/*
branch = True
source = dpnp,dpnp.dpnp_algo

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
