[flake8]
extend-ignore =
    # whitespace before ':' (currently conflicts with black formatting):
    E203,
    # line too long (in docstrings):
    E501,
    # ‘from module import *’ used; unable to detect undefined names:
    F403,
    # name may be undefined, or defined from star imports: module:
    F405,
    # doc line too long (105 > 80 characters):
    W505,
    # missing docstring in public module:
    D100,
    # missing docstring in public class:
    D101,
    # missing docstring in public method:
    D102,
    # missing docstring in public function:
    D103,
    # missing docstring in public package:
    D104,
    # missing docstring in magic method:
    D105,
    # missing docstring in __init__:
    D107,
    # no blank lines allowed after function docstring:
    D202,
    # first line should end with a period:
    D400,
    # first line should be in imperative mood:
    D401,
    # first line should not be the function's "signature":
    D402,
    # section has no content:
    D414

per-file-ignores =
    __init__.py: E402, F401
    dpnp/dpnp_algo/__init__.py: F401
    dpnp/dpnp_algo/__init__.py: F401
    dpnp/fft/__init__.py: F401
    dpnp/linalg/__init__.py: F401
    dpnp/random/__init__.py: F401
    dpnp/dpnp_iface.py: D205

filename = *.py, *.pyx, *.pxi, *.pxd
max_line_length = 80
max-doc-length = 80
show-source = True

exclude =
    .git,
    benchmarks/*.py,
    build,
    dpnp/to_numba/*.py,
    conda.recipe,
    tests/*.py,
    tests_external/*.py,
    version.py,

# Print detailed statistic if any issue detected
count = True
statistics = True
