# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/PyCQA/bandit
    rev: '1.9.2'
    hooks:
    -   id: bandit
        pass_filenames: false
        args: ["-r", "dpnp", "-lll"]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    # Git
    -   id: check-added-large-files
    -   id: no-commit-to-branch
        name: "ensure no direct commit to master/maintenance branches"
        args: [--branch, "master", --pattern, "maintenance/.*"]
    -   id: check-case-conflict
    -   id: check-illegal-windows-names
    # Contents
    -   id: check-ast
    -   id: check-builtin-literals
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-shebang-scripts-are-executable
    -   id: check-symlinks
    -   id: check-toml
    -   id: debug-statements
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
    -   id: fix-byte-order-marker
    -   id: mixed-line-ending
    -   id: trailing-whitespace
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
    -   id: python-check-blanket-type-ignore
    -   id: python-check-mock-methods
    -   id: python-no-eval
        exclude: |
            (?x)^(
                dpnp/tests/test_arraycreation.py|
                dpnp/tests/test_sycl_queue.py|
                dpnp/tests/test_usm_type.py|
                dpnp/tests/third_party/cupy/core_tests/test_nep50_examples.py
            )$
    -   id: python-no-log-warn
    -   id: python-use-type-annotations
    -   id: rst-backticks
    -   id: rst-directive-colons
    -   id: rst-inline-touching-normal
    -   id: text-unicode-replacement-char
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: ["-L", "abd"]  # ignore "abd" used in einsum tests
        additional_dependencies:
            - tomli
-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black
        exclude: "dpnp/_version.py"
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        name: isort (python)
        exclude: "dpnp/_version.py"
    -   id: isort
        name: isort (cython)
        types: [cython]
    -   id: isort
        name: isort (pyi)
        types: [pyi]
-   repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
        args: ["--config=.flake8"]
        additional_dependencies:
            - flake8-docstrings==1.7.0
            - flake8-bugbear==24.12.12
-   repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
    -   id: clang-format
        args: ["-i"]
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
    -   id: gitleaks
-   repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
    -   id: shellcheck
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
            [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--disable=import-error",
            "--disable=redefined-builtin",
            "--disable=unused-wildcard-import"
            ]
        files: '^dpnp/(dpnp_iface.*|fft|linalg|scipy|dpnp_array)'
-   repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.16.0
    hooks:
    -   id: pretty-format-toml
        args: [--autofix]
-   repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
    -   id: actionlint
-   repo: https://github.com/BlankSpruce/gersemi
    rev: 0.25.1
    hooks:
    -   id: gersemi
        exclude: "dpnp/backend/cmake/Modules/"
        args: ["-i", "-l", "88", "--no-warn-about-unknown-commands"]
