name: Build Sphinx
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    name: Build and Deploy Docs
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}
      - name: Install Intel repository
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          rm GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          sudo add-apt-repository "deb https://apt.repos.intel.com/oneapi all main"
          sudo apt-get update
      - name: Update libstdc++-dev
        run: |
          sudo apt remove -y gcc-7 g++-7 gcc-8 g++-8 gcc-10 g++-10
          sudo apt remove -y libstdc++-10-dev
          sudo apt autoremove
          sudo apt install --reinstall -y gcc-9 g++-9 libstdc++-9-dev
      - name: Install Intel OneAPI
        run: |
          sudo apt-get install intel-oneapi-mkl                \
                               intel-oneapi-mkl-devel          \
                               intel-oneapi-dpcpp-cpp-compiler
      # https://github.com/marketplace/actions/checkout
      - name: Install nvidia-cuda support drivers
        run: |
          sudo add-apt-repository ppa:graphics-drivers/ppa
          sudo apt-get update
          sudo apt-get install libnvidia-gl-450
          sudo apt-get install nvidia-cuda-toolkit clinfo
      - name: Checkout repo
        uses: actions/checkout@v2
      # https://github.com/marketplace/actions/setup-python
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install sphinx dependencies
        run: pip install numpy cython sphinx sphinx_rtd_theme
      - name: Install cuPy dependencies
        run: pip install cupy
      - name: Build library
        run: |
          . /opt/intel/oneapi/setvars.sh
          ./0.build.sh
      - name: Build docs
        run: |
          . /opt/intel/oneapi/setvars.sh
          ./0.builddoc.sh
        working-directory: doc
      # https://github.com/marketplace/actions/doxygen-action
      - name: Build backend docs
        uses: mattnotmitt/doxygen-action@v1
        with:
            working-directory: 'dpnp/backend'
      - name: Copy backend docs
        run: cp -r dpnp/backend/html doc/_build/html/backend_doc
      # https://github.com/marketplace/actions/github-pages-action
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/_build/html/
