name: Generate coverage data for dpnp
on:
  pull_request:
  push:
    branches: [master]

jobs:
  generate-coverage:
    name: Generate coverage and push to Coveralls.io
    runs-on: ubuntu-20.04

    defaults:
      run:
        shell: bash -l {0}

    env:
      python-ver: '3.10'
      CHANNELS: '-c dppy/label/coverage -c intel -c conda-forge --override-channels'

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ github.token }}

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          docker-images: false

      - name: Checkout repo
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v3.0.1
        with:
          auto-update-conda: true
          python-version: ${{ env.python-ver }}
          miniconda-version: 'latest'
          activate-environment: 'coverage'

      - name: Install Lcov
        run: |
          sudo apt-get install lcov

      - name: Install dpnp dependencies
        run: |
          # use DPC++ compiler 2023.2 to work around an issue with crash
          conda install cython llvm cmake">=3.21" scikit-build ninja pytest pytest-cov coverage[toml] \
              dpctl">=0.15.1dev3" dpcpp_linux-64"=2023.2" sysroot_linux-64">=2.28" mkl-devel-dpcpp tbb-devel"=2021.10" \
              onedpl-devel ${{ env.CHANNELS }}

      - name: Conda info
        run: |
          conda info
          conda list

      - name: Build dpnp with coverage
        id: build_coverage
        uses: nick-fields/retry@v2.9.0
        with:
          shell: bash
          timeout_minutes: 60
          max_attempts: 5
          retry_on: error
          command: |
            . $CONDA/etc/profile.d/conda.sh
            conda activate coverage
            git clean -fxd
            python scripts/gen_coverage.py --pytest-opts="--ignore tests/test_random.py"

      - name: Total number of coverage attempts
        run: |
          echo "Total number of coverage attempts made: ${{ steps.build_coverage.outputs.total_attempts }}"

      - name: Install coverall dependencies
        run: |
          sudo gem install coveralls-lcov
          pip install coveralls==3.2.0

      - name: Upload coverage data to coveralls.io
        run: |
          echo "Processing pytest-coverage"
          export DPNP_PYTEST_LCOV=$(find . -name dpnp_pytest.lcov)
          coveralls-lcov -v -n $DPNP_PYTEST_LCOV > pytest-dpnp-c-api-coverage.json

          # merge file with coverage data and upload
          echo "Merging files with coverage data"
          coveralls --service=github --merge=pytest-dpnp-c-api-coverage.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_PARALLEL: true

  coveralls:
    name: Indicate completion to coveralls.io
    needs: generate-coverage
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Finished
      run: |
        pip3 install --upgrade coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
