name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

permissions: read-all

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Set up clang-format
        run: |
          sudo apt-get install -y clang-format-15
          sudo unlink /usr/bin/clang-format
          sudo ln -s /usr/bin/clang-format-15 /usr/bin/clang-format
          clang-format --version

      - name: Set up pip packages
        uses: BSFishy/pip-action@8f2d471d809dc20b6ada98c91910b6ae6243f318 # v1
        with:
          packages: |
            codespell
            pylint

      - name: Checkout DPNP repo
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: '3.11'

      - name: Run pre-commit checks
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
