name: Run pre-commit

on:
  pull_request:
  push:
    branches: [master]

permissions: read-all

jobs:
  pre-commit:
    name: Check

    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - name: Set up clang-format
        run: |
          sudo apt-get install -y clang-format-12
          sudo unlink /usr/bin/clang-format
          sudo ln -s /usr/bin/clang-format-12 /usr/bin/clang-format
          clang-format --version

      - name: Set up pip packages
        uses: BSFishy/pip-action@8f2d471d809dc20b6ada98c91910b6ae6243f318 # v1
        with:
          packages: |
            codespell
            pylint

      - name: Checkout DPNP repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # use commit hash to make "no-commit-to-branch" check passing
          ref: ${{ github.sha }}

      - name: Set up python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.14'

      - name: Run pre-commit checks
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
